body,html{
  margin:0;
  padding:0;
  background-color:hsl(60, 22%, 90%);
  position: relative;
  min-height: 100vh;
  padding: 0 5px;
}

* {
  margin:0;
  padding:0;
  font-family: "Candara";
}

header {
  width: 100%;
  height: 100px;
  position:fixed;
  background-color: hsl(60, 22%, 90%);
  border-bottom:1px solid;
  border-color: hsl(60, 22%, 95%);
  z-index:1;
  top: 0;
}

header #header-img {
  width:150px;
  height:70px;
  padding: 20px 50px;
  
}

header nav{
 	float:right;
   font-size:17px;
   height: 100%;  

}

header nav ul{
 height: 100%;
 padding: 0 80px;
 display: flex;
 justify-content: center;
 align-items: center;
}

header nav li {
  display:inline;
  margin: 0 20px;
}

header nav li a {
    color:#332100;
   transition: 0.8s;
  text-decoration:none;
}

.nav-link:hover {
  cursor:pointer;
  color:#cc6600;
  transition: 0.3s;
}

#page-container {
  position: relative;
  min-height: 100vh;
  
}

#page-content {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
	padding-top: 150px;
	padding-bottom: 50px;	
}

/*email form top*/
form {
  margin:0 auto;
  width:400px;
  min-width:400px;
  text-align:center;
}

form [type="email"] {
  width: 70%;
  padding: 5px;
  margin-top:20px;
  border-radius: 5px;
}

form [type="submit"] {
  margin-top:20px;
  font-size:20px;
  font-weight:bold;
  padding:3px 10px;
  border:none;
  border-radius: 3px;
  background-color:#ffa600;
}

[type="submit"]:hover {
  cursor: pointer;
}

/*section container after from*/
#section-container {
	padding:50px 0 30px 0;
}

#section-container div {
	display: flex;
	margin: 50px 0;
}

#section-container div .section-img {
	width: 90px;
	height:70px;
}

#section-container div content{
	padding-left: 50px; 
}

/*Youtube video container*/

.video-container #video {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;

}

/*last content container(price list)*/
#special-list {
	display: flex;
	padding-top: 80px;

}

#middle {
	margin: 0 20px;
}

#special-list .special-container {
	border:1px solid black;
	border-radius: 2px;
	width: 320px;
	height: 330px;
	text-align: center;
}

#special-list .special-container h3 {
	height: 60px;
	font-size: 20px;
	text-transform: uppercase;
	background-color:#d7d7c1;
	display: flex;
	justify-content: center;
	align-items: center; 	
}

#special-list .special-container .special-caption {
	position: relative;
	padding: 0 50px;
	height: 180px;	
}

#special-list .special-container .special-caption h2 {
	position: relative;
	margin: 20px 0;
}

#special-list .special-container [type="submit"]{
	padding: 10px 30px;
	border-style: none;
	border-radius: 2px;
	font-size:20px;
 	background-color:#ffa600;
}

footer
{
	width: 1000px;
	max-width: 100%;
	height:120px;
	background-color:#d7d7c1;
  	display: block;
 	margin:0 auto;

}

footer div {
	width: 300px;
	height: 100%;
	float: right;
	text-align: center;
	display: block;
	color: gray;
}

footer div ul{
	padding-top: 30px;
	padding-bottom:3px;  
}

footer div p {
	padding-top: 3px; 
	padding-bottom: 30px;

}

footer div ul li {
	display: inline;
	margin: 0 10px;
	font-size: 17px;
}

footer div ul li a {text-decoration: none;}
footer div ul li:hover a {cursor: pointer;}

/*RESPONSIVE FOR IPAD*/
@media screen and (max-width: 768px) {

body {
	padding: 0;
}

header nav ul{padding: 0 30px;}

/*section container after from*/
#section-container {
	padding-right: 10px;
}

#section-container div {

}

#section-container div .section-img {
	padding-left: 40px;
}

#section-container div content{
	padding-left: 40px; 
}
/*last content*/

#special-list {
	display: block;
}

#special-list .special-container {
	margin: 0 auto;
}

#special-list #middle {
	margin-top: 10px;
	margin-bottom: 10px;
}
}


/*RESPONSIVE FOR mini IPAD*/
@media screen and (max-width: 670px) {

header nav {
	height: 70px;
	margin-right: 30px;
	margin-top: 15px;
}
header nav ul li {

	display: block;
}
header nav ul{
	display: block;
	text-align: center;	
}
}

/*RESPONSIVE FOR phone*/
@media screen and (max-width: 510px) {

body,html{

	width: 100%;
	padding: 0;
	margin: 0;
}

header {
	  height: 180px;
}
header #header-img {
  display: block;
  margin: 0 auto;
}
header nav {
	height: 70px;
	width: inherit;
	margin: 0;
}
header nav ul li {
	margin: 0;
	display: block;
}
header nav ul{
	display: block;
	text-align: center;	
}
header nav ul{padding: 0 30px;}

#page-container {
  width: 100%;
}

#page-content {
	
	max-width: 100%;
	margin: 0 auto;
	padding-top: 210px;
	padding-bottom: 50px;	
}
/*section container after from*/
#section-container {
	width: 100%;
	padding:0;
}

#section-container div .section-img {
	position: absolute;
	top: 0;
	visibility: hidden;
}

#section-container div content{
	padding:0 10px; 
}


#section-container div {
	text-align: center;
}

footer {
	width: 100%;
}

}
